body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.output {
  height: 1240px;
  width: 100%;
  background: black;
  color: lightgray;
  border: green solid 3px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.letter-spacing {
  font-size: 18px;
  padding: 2px;
  font-family: monospace;
  height: 20px;
}
